@import "../../../assets/styles/variables.scss";

.dn {
  position: relative;
  &__title {
    display: flex;
    gap: 8px;
    align-items: center;
    span {
      //styleName: H5;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    cursor: pointer;

    img {
      transition: 0.2s;
    }
  }
  &:hover .dn__content {
    visibility: visible;
    opacity: 1;
    animation: fadeIn 0.2s ease-in-out;
  }
  &:hover .dn__title img:nth-last-child(1) {
    rotate: 180deg;
  }
  &__content {
    visibility: hidden;
    position: absolute;
    background-color: $secondary-color;
    border-radius: 12px;

    max-height: 250px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;

    flex-direction: column;
    width: max-content;

    box-shadow: $shadow-large;
    border-radius: $border-radius;
    background: $primary-color;
    animation: fadeOut 0/3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    &__item {
      display: flex;
      min-height: max-content;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      cursor: pointer;
      font-size: $font-size-lg;
      white-space: nowrap;
      color: $secondary-color;
      padding: $spacing-sm $spacing-lg;
      cursor: pointer !important;
      transition: 0.2s;
      border-bottom: 1px solid #ffffff33;
      &:last-child {
        margin-bottom: 0;
        border-radius: 0 0 $border-radius $border-radius;
      }
      &:hover {
        background-color: #09105f;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
