@import "../../../../assets/styles/variables.scss";

.leagues {
  // background-color: $tertiary-color-20;
  padding: 70px 0px;
  padding-bottom: 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .title {
        font-family: Plus Jakarta Sans;
        font-size: 36px;
        font-weight: 500;
        line-height: 43.2px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-bottom: 6px;
        max-width: max-content;
        border-bottom: 2px solid $secondary-color;
        span {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
      .subtitle {
        //styleName: Paragraph/medium/regular;
        font-family: Segoe UI;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
    &__right {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      .text {
        font-weight: 400;
        color: $secondary-color;
        font-family: Segoe UI;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    border-radius: 8px;
    gap: 8px;
    &__head {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 20px 24px;
      .title {
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        font-weight: 600;
        color: $tertiary-color;
      }
      .subtitle {
        //styleName: Paragraph/tiny/16px;
        font-family: Segoe UI;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #5a6576;
      }
    }
  }
  &__table {
    thead {
      background-color: $tertiary-color-20;
      th {
        padding: 12px 12px;
        color: #5a6576;
        font-weight: 500;
        font-size: $font-size-base;
        &:first-child {
          padding-left: 24px;
        }
        &:last-child {
          padding-right: 24px;
        }
      }
    }
    tr:first-child {
      td {
        padding-top: 16px;
      }
    }
    tr:last-child {
      td {
        padding-bottom: 26px;
      }
    }
    td {
      padding: 8px 12px 8px 12px;
      color: #5a6576;
      font-weight: 400;
      font-size: $font-size-sm;
      &:first-child {
        padding-left: 24px;
      }
      &:last-child {
        padding-right: 24px;
      }
      img {
        border-radius: 12px;
        width: 70px;
        height: 62px;
        object-fit: contain;
      }
    }
    &__col {
      border-bottom: 1px solid #edf1f6;
      &:last-child {
        border: none;
      }
      &__title {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600 !important;
        font-size: $font-size-md !important;
        color: $tertiary-color !important;
      }
      &__price {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__new {
          color: $primary-color-no-gradient;
          font-weight: 600;
          font-size: $font-size-md;
        }
        &__old {
          font-weight: 400;
          font-size: $font-size-sm;
          text-decoration: line-through;
        }
      }
      &__buttons {
        display: flex;
        align-items: center;
        gap: 8px;
        div {
          padding: 9px 24px;
          border-radius: 20px;
          font-family: $font-family-primary;
          cursor: pointer;
          display: flex;
          align-items: center;
          min-width: 94.5px;
          justify-content: center;
          text-align: center;
          font-weight: 500;
          font-size: $font-size-base;
          line-height: 20.16px;
        }
      }
      &__try {
        border: 1px solid $primary-color-no-gradient;
        color: $primary-color-no-gradient;
        transition: 0.2s;
        &:hover {
          background: $primary-color-no-gradient;
          color: $secondary-color;
        }
      }
      &__buy {
        color: #09105f;
        background-color: #78dfb2;
        transition: 0.2s;
        &:hover {
          color: #78dfb2;
          background-color: #09105f;
        }
      }
    }
  }
}
